@CHARSET "UTF-8";
/**
 * TEST CSS file
 */
html,body,div,p,span {
	font-size: 10px;
	font-family: tahoma, arial;
	color: #404040;
}

.dev-mode-information {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	width: 750px;
	background-color: #CAFFD8;
	border: 1px solid #4D8000;
	/** CSS3 **/
	box-shadow: 3px 3px 3px #C0C0C0;
	-moz-box-shadow: 3px 3px 3px #C0C0C0;
	-webkit-box-shadow: 3px 3px 3px #C0C0C0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.dev-mode-title {
	color: #4D8000;
	font-weight: bold;
	/** CSS3 **/
	text-shadow: 1px 1px 1px #FFF;
}

.snapshot-information {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	width: 740px;
	background-color: #F3EFE0;
	border: 1px solid #999966;
	/** CSS3 **/
	box-shadow: 3px 3px 3px #C0C0C0;
	-moz-box-shadow: 3px 3px 3px #C0C0C0;
	-webkit-box-shadow: 3px 3px 3px #C0C0C0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.header-information {
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	width: 740px;
	background-color: #E0FFFF;
	border: 1px solid #42AEC2;
	/** CSS3 **/
	box-shadow: 3px 3px 3px #C0C0C0;
	-moz-box-shadow: 3px 3px 3px #C0C0C0;
	-webkit-box-shadow: 3px 3px 3px #C0C0C0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.header-title {
	color: #404040;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 1px;
	text-transform: uppercase;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	/** CSS3 **/
	text-shadow: 1px 1px 1px #FFF;
}

.header-column-title {
	color: #404040;
	font-weight: normal;
	padding: 1px;
	/** CSS3 **/
	text-shadow: 1px 1px 1px #FFF;
}

.section-information {
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	width: 740px;
	background-color: #E0FFFF;
	border: 1px solid #42AEC2;
	min-height: 188px;
	/** CSS3 **/
	box-shadow: 3px 3px 3px #C0C0C0;
	-moz-box-shadow: 3px 3px 3px #C0C0C0;
	-webkit-box-shadow: 3px 3px 3px #C0C0C0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.half-section-container {
	margin: 0px auto;
	padding: 5px;
	width: 750px;
}

.half-section-information-left {
	float: left;
	min-height: 188px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	width: 355px;
	background-color: #E0FFFF;
	border: 1px solid #42AEC2;
	/** CSS3 **/
	box-shadow: 3px 3px 3px #C0C0C0;
	-moz-box-shadow: 3px 3px 3px #C0C0C0;
	-webkit-box-shadow: 3px 3px 3px #C0C0C0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.half-section-information-right {
	float: right;
	min-height: 188px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	width: 355px;
	background-color: #E0FFFF;
	border: 1px solid #42AEC2;
	/** CSS3 **/
	box-shadow: 3px 3px 3px #C0C0C0;
	-moz-box-shadow: 3px 3px 3px #C0C0C0;
	-webkit-box-shadow: 3px 3px 3px #C0C0C0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.section-title {
	color: #404040;
	font-size: 12px;
	font-weight: bold;
	padding: 1px;
	text-transform: uppercase;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	/** CSS3 **/
	text-shadow: 1px 1px 1px #F5F5F5;
}

.mini-content-container {
	font-size: 9px !important;
	float: left;
	width: 83px;
	height: 75px;
	margin: 2px;
}

.mini-content-title {
	font-size: 8px;
	font-weight: bold;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 4px !important;
	border-bottom: 1px solid #C0C0C0;
	text-transform: uppercase;
	/** CSS3 **/
	text-shadow: 1px 1px 1px #FFF;
}

.mini-content-box {
	font-size: 10px !important;
	text-align: center;
	margin: 0px auto;
	padding: 4px;
	border: 1px solid #42AEC2;
	height: 45px;
	background-color: #FFFFFF;
	/** CSS3 **/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mini-content-box-small {
	font-size: 9px !important;
	text-align: center;
	margin: 0px auto;
	padding-left: 2px;
	text-align: left;
}

.column-title-container {
	background-color: #42AEC2;
	/** CSS3 **/
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right: 5px;
}

.column-title {
	color: #E0FFFF;
	font-weight: bold;
	padding: 1px;
	text-transform: uppercase;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	/** CSS3 **/
	text-shadow: 1px 1px 1px #808080;
}

.row-content-container {
	border-bottom: 1px dotted #C0C0C0;
	width: 99%;
	margin: 0px auto;
	clear: both;
}

.nothing-to-display {
	text-align: center;
	font-size: 11px;
}

.column-content {
	margin-left: 1px;
	margin-right: 1px;
}

.normal {
	color: #404040;
}

.normal-note {
	color: #4D8000;
	background-color: #FFF;
	padding: 2px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: normal;
	border: 1px solid #4D8000;
	/** CSS3 **/
	box-shadow: 2px 2px 2px #C0C0C0;
	-moz-box-shadow: 2px 2px 2px #C0C0C0;
	-webkit-box-shadow: 2px 2px 2px #C0C0C0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 1px 1px 1px #F5F5F5;
}

.ok {
	color: #008000;
}

.ok-hilite {
	background-color: #CAFFD8;
	color: #008000;
	border: 1px solid #4D8000;
	/** CSS3 **/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.warn {
	background-color: #FFE4B5;
	color: #800000;
	border: 1px solid #FFA500;
	/** CSS3 **/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.warn-text {
	color: #FFA500;
}

.alert {
	background-color: #FFFF00;
	color: #800000;
	border: 1px solid #800000;
	/** CSS3 **/
	border-radius: %px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.alert-text {
	color: #800000;
}

.protected {
	color: #f60;
	background-color: #FFFFCC;
	line-height: 9px;
	font-size: 9px;
	font-weight: normal;
	text-transform: none;
}

fieldset.langSelect {
	padding: 0;
}

fieldset.langSelect ul {
	margin: 0;
}

fieldset.langSelect li {
	display: inline;
	padding-right: 0.5em;
}

fieldset.langSelect a {
	font-size: 12px;
	text-decoration: none;
	color: #000;
}

fieldset.langSelect a.active {
	background-color: #ffc;
}